:root {
    --white: #f3f3f3;
    --grey: #5d5d5d;
    --black: #1a1a1a;
    --green: #7d0096; 
    /* The colour name is differnt as the base of the site was developed for other perpouses */
}

body {
    overflow: hidden;
    background-color: var(--grey);
}

.title{
    text-align: center;
    padding-top: 20%;
    color: #f3f3f3;
}

.copy{
    text-align: right;
    vertical-align: baseline;

}

.typewriter{
    color: #f3f3f3;

}